# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist

# local env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db

# Vite cache
/.vite

# npm cache
.npm

# IDE files
.vscode/
.idea/

# build output
build/

# Mac files
*.swp
